.tooltip {
  position: relative;
  cursor: pointer;
  height: 100%;
  z-index: 10;
  display: flex;

  &__message {
    display: none;
    position: absolute;
    background-color: $tooltip-background;
    color: white;
    height: 42px;
    padding: 0 22px;
    line-height: 42px;
    white-space: nowrap;
    top: -42px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    font-size: 17px;
    font-weight: $font-medium;
  }

  &__small {
    font-size: 12px;
  }

  &:hover {
    .tooltip__message {
      display: block;
    }
  }
}
