.forget-password, .confirm-email {

  .popup--close {
    display: none;
  }

  .popup--inner {
    min-width: 455px;
    padding: 65px 50px;
    @include flex(normal, normal);
    @include flex-direction(column)
  }

  &__title {
    margin-bottom: 18px;
  }

  &__text {
    font-size: 16px;
    color: $grey;
    text-align: center;
    line-height: 19px;
    margin-bottom: 75px;
  }

  .input {
    margin-bottom: 25px;
  }

  .icon-email {
    background-color: rgba(253, 189, 17, 0.14);
    height: 185px;
    width: 185px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 20px auto 85px;
  }
}
