html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

button {
	background-color: inherit;
	border: 0;
	outline: 0;
}

a, button, input, textarea, select {
	outline: none;
	border: 0;
	text-decoration: none;
}

hr {
	border: 0;
}

body {
	overflow: hidden;
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote {
	&:before, &:after {
		content: none;
	}
}

q {
	&:before, &:after {
		content: none;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, a {
	cursor: pointer;
}

b, strong {
	font-weight: bold;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}
@-webkit-keyframes autofill {
	0%,100% {
		color: #666;
		background: transparent;
	}
}

input:-webkit-autofill {
	-webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}

:focus-visible {
	outline-color: #5E9ED6;
}

button:focus-within {
	border: 1px solid #5E9ED6;
	border-radius: 4px;
}
.check-box:focus-visible {
	border: 1px solid #5e9ed6;
	border-radius: 4px;
	outline: none;
	padding: 1px 6px 1px 0;
}
