//color
$white: #fff;
$black: #000;
$background-main: #FAFAFA;
$grey: #c6c6c6;
$about-grey: #dddddd;
$grey-bg: #f0f0f0;
$berry: #940e49;
$tooltip-background: #313642;

$primary-button: #FDBD11;
$red-button: #F14336;
$blue-button: #518EF8;

$disabled: #C6C6C6;
$focus: #5E9ED6;

$font-semi-bold: 600;
$font-medium: 500;

$error-red: #CE281A;

$border-bottom: rgba(198, 198, 198, 0.38);

//padding
$article-list-pdr: 8%;
$article-list-pdl: 8%;
$article-list-pdt: 65px;
$article-list-pdb: 25px;


//font

$futura: "FuturaBT-Medium", "sans-serif"; //to do
$sans-serif: "sans-serif"; //to do
$roboto: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;


//shadow

$shadow: drop-shadow(9px 8px 8px rgba(0, 0, 0, 0.28));

$medium-screen: 1365px;


